body {
    font-family: 'Baloo Tammudu 2', cursive;
    color: lightgrey;
    text-align: center;
    background-image: url("images/space-ghost-interview-room.jpg");
}

#backgroundText {
    font-size: 55px;
    text-shadow: 2px 2px grey;
}

.container {
    position: relative;
}